h1 {
    color: #89CFF0;
}

li {
    color: black;
}
.login
{
    width:250px;
    margin:0px auto;
}
.form {
    border-color: green;
}
input[type="submit"]
{
  background-color: blue; 
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 12px;
}